<div class="jumbotron">
  <center>
    <h1>REGISTRO DE RECEPCION Y ENVIO DE CORRESPONDENCIA</h1>
  </center>
</div>
<br><br>
<%= link_to image_tag("logo_cato.jpg", alt: "Rails logo"),
				'https://www.ucbcba.edu.bo/' %>
<%= render 'layouts/footer' %>

