<% provide(:title, 'Registro de envios') %>
<% provide(:button_text, 'Registrar') %>
<center><h3>Registro de envios</h3></center>
<%= render 'form', enviar: @enviar %>


<div class="col-lg-4 col-lg-offset-2">
<ul style="text-align:left", class="pager">
<li><%= link_to 'Volver atras', enviars_path %></li>
</ul>
</div>