<!--<footer class="footer">
<div class="container">
	<div class="row">
  		<div class="col-md-4">
	    	<ul>

	    </div>
  		<div class="col-md-4">
			<%= link_to image_tag("logo_cato.jpg", alt: "Rails logo"),
				'https://www.ucbcba.edu.bo/' %><br>
  			<a href="https://www.ucbcba.edu.bo/">
  			<h5>Universidad Catoliva Boliviana "San Pablo"</h5></a><br>
	    </div>
		<div class="col-md-4">
	    	
	    <font color="white"><h6>Elaborado por:</h6><a href="http://www.facebook.com/AntonioSabath">Juan Sabath</a>
	    <h5>Taller de Pasantía - Copyright ©2016.</h5>
  		
  		</div>
  	</div>
</div>
</footer>
-->

<footer class="footer">
      <div class="container">
              <copyright>
                  <!--Twitterdave <%= Time.now.year %>-->
                  &copy; Taller de Pasantía - Copyright ©2016
              </copyright>
              <nav>
                <ul>          
			    	<li><a href="/about">Mision</a></li>
			    	<li><a href="/contact">Vision</a></li>
			    	<li><a href="/help">Ayuda</a></li>
                </ul>
                <br><br><ul>Elaborado por:<a href="http://www.facebook.com/AntonioSabath">Juan Sabath</a></ul>
              </nav>
      </div>
</footer>
